# ==========================================
# .NET
# ==========================================
**/bin/
**/obj/
.vs/

# ==========================================
# React / Node.js
# ==========================================
**/node_modules/
**/dist/

# ==========================================
# Environment Files
# ==========================================
.env
.env.*

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# IDE
# ==========================================
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db